*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body .card{
    width: 500px;
    height: 320px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
body .card .logo{
    width: 70px;
    height: 70px;
    
}
body .card .paragraph{
    text-align: center;
}
body .card .paragraph.title{
    font-size: 18px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}